body {
    background-color: #343434;
    color: white;
    font-size: large;
}

li.list-group-item {
    background-color: #242424;
}

.centre-yt {
    padding-top: 25px;
    text-align: center;
}

h1, h2, h3 {
    color: goldenrod;
}

#list_container {
    max-width: 100%;
}

#page_header {
    max-width: 90%;
}

a {
    color: deeppink;
}

iframe {
    display: inline-block;
}

img {
    display: block;
    max-width:867px;
    max-height:1125px;
    width: auto;
    height: auto;
}

.code {
    color: white;
    background-color: white;
    width: 50%;
    height: 100%;
    min-height: 1000px;
}